/* Default dark mode */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 30, 39);
    margin: 0;
}
span, p {
    color: white;
}
h1 {
    color: rgb(179, 203, 255);
    font-size: 1.5vw;
}


/* Hyperlink vagueness */
.links {
    position: absolute;
    display: flex;
    margin: 0px;
}
a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 2.8vw;
    width: 5vw;
}
a span {
    margin-top: auto;
    margin-bottom: auto;
    font-size: .9vw;
}


/* Specific hyperlink details */
#git {background-color: rgb(255, 166, 0); transition: .3s;}
#linked {background-color: rgb(63, 66, 255); transition: .3s;}
#git:hover {background-color: rgb(209, 136, 0);}
#linked:hover {background-color: rgb(52, 55, 206);}


/* Central photo */
.mainimage {
    position: relative;
    height: 31.15vw;
    border-bottom: .2vw solid black;
}
#quote {
    font-size: 4vw;
    position: absolute;
    top: 30%;
    left: 5vw;
    text-shadow: 2px 2px 10px #000000;
}
em {
    font-size: 6vw;
    text-shadow: 2px 2px 10px #000000;
}
img {
    width: 100%;
}


/* Main document */
.document {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 1000px;
}

.nav {
    background-color: rgb(34, 54, 80);
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: sticky;
    color: white;
    top: 0;
}

.nav ul li {
    background-color: rgb(54, 84, 124);
    border-bottom: 2px solid rgb(40, 60, 90);
    transition: .3s;
}
.nav ul li:hover {background-color: rgb(45, 71, 104);}
.nav ul li a {
    width: 100%;
    justify-content: start;
}
.nav ul li span {
    padding-left: 10%;
    font-size: 1.1vw;
}

.projects {
    background-color: rgb(32, 32, 41);
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.5vw;
}

.projects .item {
    padding: 2.2vw;
    border-radius: .8vw;
    margin-bottom: 4vw;
    background-color: rgb(48, 50, 56);
}

.projects .item p {
    font-size: 1.1vw;
    text-align: justify;
    text-justify: inter-word;
}

.projects ul {
    color: white;
}

.bullets {
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 2.5vw;
}